.username{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 25px; 
    color: #FFA64D; 
}

.password{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 25px; 
    color: #FFA64D; 
}


.botonlogin{
    
background-color: #FFA64D;
 display: table-row-group;
 width: 250px;
}

.botonlogin:hover {
background-color: green;
}

.inputusername{
border-color: #FFA64D;
}

.inputpassword{
border-color: #FFA64D;

}